@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.marker {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/* multiselect */

.option.highlightOption.option {
  background-color: rgb(150, 55, 145);
}

.chip.false,
.chip.false::after {
  background-color: rgb(150, 55, 145);
}

.searchWrapper {
  border-radius: 10px;
  border: 1px solid rgb(150, 55, 145) !;
}

/* geomap */
.geomap-popup {
  width: 70vw;
}

/* spinner */
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #c91cb5;
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

/* color themes */

:root {
  --color-default: #252b30;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-default: #252b30;
  }
} */
[data-theme="dark"] {
  --color-default: #252b30;
}
@media (prefers-color-scheme: light) {
  /* :root {
    --color-default: #b7bec4;
  } */
}
[data-theme="light"] {
  --color-default: #e0e3e4;
}
body {
  background-color: var(--color-default);
}
